body {
    background-color: rgb(243, 235, 219);
  }
  
  h1 {
    color:black;
    margin-left: 20px;
  }


  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  #para1 {
    text-align: center;
    color: red;
  }

            body {
              background-color: rgb(247, 233, 195);
            }
            
            @media only screen and (max-width: 600px) {
              body {
                background-color: rgb(247, 198, 186);
              }
            }
      

